* {
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}
body {
  background-color: rgb(222, 233, 243);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
body::before {
  content: "";
  position: absolute;
  width: 400px;
  height: 300px;
  background: linear-gradient(to bottom right, #254855, #33cc99);
  transform: translate(250px, -170px);
}
.container {
  z-index: 100;
}
.card {
  width: 500px;
  min-height: 400px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.3);
  box-shadow: 1px 15px 24px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .card {
    max-width: 90%;
    margin: auto;
  }
}
#myCalendar {
  width: 100%;
  padding: 20px;
}
#myCalendar table {
  width: 100%;
}
#myCalendar table td {
  color: #fff;
  padding: 10px;
  user-select: none;
}
#myCalendar .dycalendar-month-container .dycalendar-span-month-year {
  color: #fff;
  font-size: 1.2rem;
}
#myCalendar.dycalendar-month-container .dycalendar-today-date,
.dycalendar-month-container .dycalendar-target-date {
  background-color: #fff !important;
  color: #000 !important;
  border-radius: 2px;
}
#myCalendar
  .dycalendar-month-container
  .dycalendar-header
  .dycalendar-prev-next-btn {
  color: #fff;
  font-size: 1.6rem;
}
